body {
  font-weight: 700;
  font-family: Capriola, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;;
}

nav {
  position: sticky;
  top: 0;
  border: solid 1.5px black;
  background: rgba(181,203,197,0.6);
  width: 100%;
  text-align: center;
  height: 3rem;
  padding-top: 1rem;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

li {
  margin-right: 2.5%;
  width: fit-content;
}

section {
  background: #709ed0;
  text-align: left;
  color: black;
  width: 100%;
  height: 100vh;
  text-align: center;
}

section > div:not(:nth-child(2)) {
  padding-top: 20%;
  font-size: 500%;
  color: bisque;
}

section > h3 {
  padding-top: 20%;
}

.container {
  display: flex;
  margin-left: 10%;
  text-align: center;
  flex-wrap: wrap;
}

.container > div {
  width: 30%;
  margin-bottom: 2rem;
}

.lng {
  font-size: 1.2rem;
}

.section4 > p:first-child {
  padding: 5%;
}

.experience {
  padding-top: 5% !important;
  padding-bottom: 3%;
}

h5 {
  font-weight: 100;
  padding: 0 5%;
}

.explanation {
  font-size: 80%;
}

.flx {
  display: flex;
}

img {
  width: 90%;
  height: 80%;
}

.section5 {
  padding-top: 10%;
}

.section5 > p > a {
  text-decoration: none;
}

.section5 > p {
  margin-top: 10%;
  margin-bottom: 10%;
}

/* ボタン */
.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-border-shadow--radius {
  border-radius: 100vh;
}
a.btn-border-shadow {
  padding: calc(1.5rem - 12px) 3rem 1.5rem;

  background: #fff;
}

a.btn-border-shadow:before {
  position: absolute;
  top: -6px;
  left: -6px;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  border: 3px solid #000;
  border-radius: 0.5rem;
}

a.btn-border-shadow--radius:before {
  border-radius: 100vh;
}

a.btn-border-shadow:hover {
  padding: calc(1.5rem - 6px) * 3rem;
}

a.btn-border-shadow:hover:before {
  top: 0;
  left: 0;
}